.navbar {
  justify-content: end !important;
  width: 150px;
}
.nav_wrapper {
  background-color: #000;
  padding-right: 0px;
  height: inherit;
}
.nav_button {
  width: 100%;  
}
.inner_nav {
  position: fixed;
}

.content_wrapper {
  height: inherit;
  padding: 0px;
  /* padding: 1em 2em 1em 1.2em; */
  /* background-color: #27285C; */
  /* background-image: url("https://szqedxclwixl0drf.public.blob.vercel-storage.com/abstract-digital-blue-fiber-optic-lines-moving-vimage-r65SSjVT5XS0Xo5DXok8IMMWtZ6z1J.gif");
  background-repeat: no-repeat;
  background-size: cover; */
}

@media(max-width:768px) {
  #bs_nav{
    justify-content: end !important;
  }
}
@media(min-width:768px) {
  .wrapper {
    min-height: 100vh;
  }  
}
