.intro_wrapper {
  height: 100%;  
  position: relative;  
}

.intro_wrapper .top_styler_block{
  position: fixed;
  left: 195px;
  height: 4em;
  width: 8em;
  border-top: solid;
  border-left: solid;
}
.intro_wrapper .bottom_styler_block {
  position: fixed;
  height: 4em;
  width: 8em;
  bottom: 20px;
  right: 20px;
  border-bottom: solid;
  border-right: solid;
}
.intro_wrapper .styler_border {
  border-color: #fff;
  border-width: 4px;
  background-color: transparent
}
.intro_wrapper .content_wrapper {
  padding: 1.2em 20px; 
  width: 100%;
  height: 100%;
  position: relative;
  display: flex; 
  flex-wrap: wrap;
  align-content: center;
}

.intro_wrapper .content_wrapper .welcoming_wrapper {
  height: 100vh;
}

.intro_wrapper .content_wrapper .intro_subHeader {
  margin-bottom: 12rem;
  font-size: 1.2rem;

}

.intro_wrapper .content_wrapper .welcoming {
  font-family: 'Great Vibes', cursive;
  font-size: 4em;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

.intro_wrapper .content_wrapper .intro_paragrapth {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  padding-right: 3em;
}
.intro_wrapper .content_wrapper .intro_paragrapth p {
  width: 40em;
  font-size: 1.2rem;
}

.intro_wrapper .content_wrapper .bio_wrapper {
  height: 100vh;
}

.intro_wrapper .content_wrapper .skills_wrapper {
  height: 100vh;
}
.intro_wrapper .content_wrapper .lab_wrapper {
  height: 100vh;
}
.intro_wrapper .content_wrapper .contact_wrapper {
  height: 100vh;
}


/* @media(min-width:768px) {

}   */



